@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NDC Oslo SASS Demo</title>
    @Styles.Render("~/Bundles/Styles")
</head>
<body>
    <header>[header]</header>
    <section>
        @RenderBody()
    </section>
    <footer>[footer]</footer>
</body>
</html>
