@import 'reset';

$border-radius: 25px;
$site-color: #66ff66;

body {
    background-color: #ffffff;
    font-family: Calibri;
}

// This is a SASS comment and is removed at compile time
/* This is a CSS-style comment */

header, section, footer {
    width : 600px;
    margin : 32px auto;
    padding: 16px;
    border-radius: $border-radius;
    border: 2px solid darken($site-color, 5%);
}

header, footer {
        background-color: $site-color;
        color:  #fff - $site-color;
}

div#message {
    padding: 16px;
    border: 1px solid $site-color;
    border-radius: $border-radius;
    margin: 16px;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}