@import 'reset';

$border-radius: 5px;
$site-color: #006699;

body {
    background-color: #ffffff;
    font-family: Calibri;
}

header, section, footer {
    width : 600px;
    margin : 32px auto;
    padding: 16px;
    border-radius: $border-radius;
    border: 2px solid darken($site-color, 5%);
}

header, footer {
        background-color: $site-color;
        color: #fff;
}

div#message {
    padding: 16px;
    border: 1px solid $site-color;
    border-radius: $border-radius;
    margin: 16px;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}