<h1>Hello, World</h1>
<p>This is a web page. Yeah.</p>
<a href="javascript:alert(new TypeScriptGreeter('Oslo').greet());">say hello from TypeScript</a>
<a href="javascript:alert(greetWithCoffee('Oslo'));">say hello from CoffeeScript</a>