<h1>Hello Oslo!</h1>
<p>Dylan's SASS, TypeScript and CoffeeScript examples</p>
<h2 id="message">...</h2>
<input type="button" id="coffeescript-button" value="Go CoffeeScript!"/>
<input type="button" id="typescript-button" value="Go TypeScript!"/>